body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    position: relative;
    margin: 0px;
    font-size: 12px;
    padding: 0px;
}

.page-content > .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 30px;
}

.header {
    height: 50px;
    background-color: #1b913f;
}

.header .logo h1 {
    font-size: 30px;
    margin: 0px;
    padding: 10px 0px;
    color: rgba(55, 164, 255, 0);
}

.header .form {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
}

.form-group {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.content-box, .content-box-large {
    margin-bottom: 30px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #eee;
    border-right-width: 2px;
    border-bottom-width: 2px;
}

.content-box-large {
    padding: 20px;
}

.sidebar ul.nav, .sidebar ul.nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sidebar ul.nav ul {
    margin: 0px;
    padding: 0px;
    display: none;
}

.sidebar .nav li.open ul {
    display: block;
}

.sidebar .nav > li {
    margin: 0;
    border-bottom: 1px dashed #eee;
}

.sidebar .nav > li:last-child {
    border-bottom: 0px;
}

.sidebar .nav > li li {
    margin: 0;
}

.sidebar .nav > li li a {
    padding-left: 25px;
}

.sidebar .nav > li > a {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 15px;
    color: #999;
    display: block;
    font-weight: bold;
    background: none;
    text-decoration: none;
    border-top: 0px;
}

.sidebar .nav > li > a > i {
    margin-right: 5px;
}

.sidebar .nav > li > ul > li > a {
    font-size: 13px;
    line-height: 20px;
    padding: 8px 10px 8px 40px;
    color: #999;
    background: #fff;
    display: block;
    text-decoration: none;
    border-top: 0px;
    font-weight: bold;
}

.sidebar .nav > li > ul > li.active > a {
    background: #fff;
    border-top: 0px;
    color: #555;
}

.sidebar .nav > li > ul > li > a:hover {
    background: #fff;
    color: #555;
    border-bottom: 0px;
}

.sidebar .nav li a:hover, .sidebar .nav li.current > a {
    background: #fff;
    color: #555;
    border-bottom: 0px;
}

.sidebar .nav li.open > a {
    background: #fff;
    color: #555;
    border-bottom: 1px dashed #eee;
}

.sidebar .nav a .caret {
    float: right;
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    margin-top: 8px;
    margin-left: 2px;
}

.sidebar .nav a:hover .caret {
    border-top-color: #aaa;
}

.sidebar .nav li.open > a > .caret {
    border-top: none;
    border-bottom: 4px solid #aaa !important;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.sidebar .nav li.open > a:hover > .caret {
    border-bottom-color: #aaa;
}

body {
    background-color: #eff0f3;
}